html, body {
	width: 100%;
	height: 100%;
}

body {
	background: #fafafa;
}

img {
	vertical-align: top;
}

body > div {
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.view-inner {
	width: 100%;
	padding: 20px;
	text-align: center;
}

.view-inner img {
	margin: 0 0 20px
}

.show {
	display: flex;
}

.hide {
	display: none;
}

#loading {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
}